.carousel-container {
  width: 100%;
  height:70vh;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 70vh;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  max-width: 500px;
}

.carousel-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: black;
}

.carousel-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
}

.buy-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.buy-btn:hover {
  background-color: #ff6b6b;
  color: white;
}

/* ----------------card---------- */
/* From Uiverse.io by G4b413l */ 
.card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Added !";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
   

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

.info-card {
  background-color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon-container {
  background-color: #047857;
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: white;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
}

.description {
  color: #4B5563;
}

.featured-products-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 16px;
}

.featured-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.featured-products-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.view-all-button {
  color: #16a34a; /* Green */
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.view-all-button:hover {
  color: #15803d; /* Darker Green */
}

.featured-products-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

@media (min-width: 768px) {
  .featured-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .featured-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
